@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --red: #e35656;
  --black: #000;
  --white: #fff;
  --pink: #fab;
  --gray: #eee;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Koulen", sans-serif;
  box-sizing: border-box;
}

body {
  padding-top: 60px; /* Adjust based on header height */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: var(--gray);
}

header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  align-items: center;
  position: sticky;
  top:0;
  z-index: 1000; /* Higher z-index to ensure it appears above content */
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav ul li {
  list-style-type: none;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 900px;
  box-shadow: solid 3px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

.section {
  background: var(--pink);
  width: 90%;
  max-width: 1200px;
  padding: 4rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.card-right {
  border: 3px solid var(--black);
  border-radius: 10px;
  background: var(--white);
  padding: 1rem;
  margin: 1rem;
  width: 350px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  float: right;
  box-sizing: border-box;
}
.card-left {
  border: 3px solid var(--black);
  border-radius: 10px;
  background: var(--white);
  padding: 1rem;
  margin: 1rem;
  width: 350px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  float: left;
  box-sizing: border-box;
}

.card-left:hover,
.card-right:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.card-left h2,
.card-right h2 {
  color: var(--red);
  margin-bottom: 0.5rem;
}

.card-left p,
.card-right p {
  color: var(--black);
  line-height: 1.6;
}

@media (max-width: 768px) {
  header ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .section {
    padding: 1.5rem;
  }

  .card-right,
  .card-left {
    max-width: 100%; /* Allow cards to take full width on smaller screens */
  }
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  header ul {
    align-items: center;
  }

  .section {
    padding: 1rem;
  }

  .card h2 {
    font-size: 1.2rem;
  }

  .card p {
    font-size: 0.8rem;
  }
}
